<button type="button" (click)="frame.show()">SignUp</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control validate" [(ngModel)]="usersignup.Email"
            >
          <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" [(ngModel)]="usersignup.Password"
            >
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Password</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-confirmpass" class="form-control validate" [(ngModel)]="usersignup.ConfirmPassword"
            >
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Confirm Password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtnssssss (click)="signUpPost()" color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div>


